*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.container{
    background-color: rgb(174, 183, 212);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.grid-container{
    width:600px;
    height: 600px;
    border: 3px solid black;
    padding: 40px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.box{

box-sizing: border-box;
border: 0.5px solid gray;

}
.box-color{
    background-color: black;
}

a{
    background-color: #ffffff;
  border-radius: 12px;
  border: 1px transparent solid; /* transparent border */
  color: black;
  padding: 13px 20px; /* remove 2px as we are now using the border */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  cursor:pointer;

}
.Buttons{
    display: flex;
    justify-content: space-between;
    gap:25px;
}


h1{
font-size: 60px;
  font-weight: 600;
  background-clip: text;
  -webkit-background-clip: text;
  font-family:'Times New Roman', Times, serif;
}